.ipynb_checkpoints/
20211202_1826_exposure_-10.json
YOLOv5_DOTA_OBB/
__pycache__/
crop_data.json
crop_data.pickle
crop_data.txt
crop_data_fixed.pickle
cropped_img/
data-Copy1.json
data.json
dot_dectection-Copy1.ipynb
dot_test.ipynb
keys.txt
mobilenetv3-Copy3.ipynb
mobilenetv3-Copy1.ipynb
mobilenetv3-Copy2.ipynb
mobilenetv3_small_67.4.pth.tar
pytorch-mobilenet-v3/
tt.tar
